<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="${logging.file}"/>
    <property resource="application.properties" />
    <contextName>${spring.application.name}</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <contextName>
                    <fieldName>appName</fieldName>
                </contextName>
                <threadName>
                    <fieldName>appThread</fieldName>
                </threadName>
                <timestamp>
                    <fieldName>appTimestamp</fieldName>
                    <timeZone>Europe/Stockholm</timeZone>
                </timestamp>
                <loggerName>
                    <fieldName>appLogger</fieldName>
                </loggerName>
                <logLevel>
                    <fieldName>appLogLevel</fieldName>
                </logLevel>
                <callerData>
                    <classFieldName>callerClass</classFieldName>
                    <methodFieldName>callerMethod</methodFieldName>
                    <fileFieldName>callerFile</fileFieldName>
                    <lineFieldName>callerLine</lineFieldName>
                </callerData>
                <mdc/>
                <arguments>
                    <includeNonStructuredArguments>false</includeNonStructuredArguments>
                </arguments>
                <stackTrace>
                    <fieldName>stack</fieldName>
                </stackTrace>
                <message>
                    <fieldName>msg</fieldName>
                </message>
            </providers>
        </encoder>
    </appender>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <contextName>
                    <fieldName>appName</fieldName>
                </contextName>
                <threadName>
                    <fieldName>appThread</fieldName>
                </threadName>
                <timestamp>
                    <fieldName>appTimestamp</fieldName>
                    <timeZone>Europe/Stockholm</timeZone>
                </timestamp>
                <loggerName>
                    <fieldName>appLogger</fieldName>
                </loggerName>
                <logLevel>
                    <fieldName>appLogLevel</fieldName>
                </logLevel>
                <callerData>
                    <classFieldName>callerClass</classFieldName>
                    <methodFieldName>callerMethod</methodFieldName>
                    <fileFieldName>callerFile</fileFieldName>
                    <lineFieldName>callerLine</lineFieldName>
                </callerData>
                <mdc/>
                <arguments>
                    <includeNonStructuredArguments>false</includeNonStructuredArguments>
                </arguments>
                <stackTrace>
                    <fieldName>stack</fieldName>
                </stackTrace>
                <message>
                    <fieldName>msg</fieldName>
                </message>
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>classpath:application.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <root>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>